<%= bootstrap_form_for @user do |f| %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Signup</h4>
</div>
<div class="modal-body">

  <div class="list-group">
    <a class="list-group-item oauth-link" href="/auth/facebook">
      <i class="fa fa-facebook fa-fw"></i>&nbsp; Signup with Facebook
    </a>
    <a class="list-group-item oauth-link" href="/auth/google_oauth2">
      <i class="fa fa-google fa-fw"></i>&nbsp; Signup with Google
    </a>
    <a class="list-group-item oauth-link" href="/auth/twitter">
      <i class="fa fa-twitter fa-fw"></i>&nbsp; Signup with Twitter
    </a>
    <a class="list-group-item oauth-link" href="/auth/linkedin">
      <i class="fa fa-linkedin fa-fw"></i>&nbsp; Signup with LinkedIn
    </a>
  </div>

  <% @user = User.new %>
  <%= f.text_field :first_name, placeholder: "First name", icon: "user", hide_label: true %>
  <%= f.text_field :last_name, placeholder: "Last name", icon: "user", hide_label: true %>
  <%= f.text_field :email, placeholder: "Email", icon: "envelope", hide_label: true %>
  <%= f.password_field :password, placeholder: "Password", icon: "lock", hide_label: true %>
</div>
<div class="modal-footer">
  <%= f.primary %>
</div>
<% end %>
